services:
  deckcard-api:
    image: vsrecorder/deckcard-api:latest
    restart: always
    network_mode: "host"
    ports:
      - "8080:8080"
    environment:
      - TZ=Asia/Tokyo
      - DB_HOSTNAME=${DB_HOSTNAME}
      - DB_PORT=${DB_PORT}
      - DB_USER_NAME=${DB_USER_NAME}
      - DB_USER_PASSWORD=${DB_USER_PASSWORD}
      - DB_NAME=${DB_NAME}